/* Start global styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

/* End global styles */

/* Start toast notificacion styles */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  width: 95%;
  max-width: 500px;
  transform: translateX(-50%); /* Divide value of min-width by 2 */
  background-color: rgb(190, 0, 0); /* Black background color */
  color: rgb(255, 255, 255); /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 1rem; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 10; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 80px; /* 30px from the bottom */
  font-size: 1.5rem;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 80px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 80px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

/* End toast notificacion styles */

/* Start header, navbar, burger menu styles */

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 2rem;
  backdrop-filter: blur(8px) saturate(100%);
  -webkit-backdrop-filter: blur(8px) saturate(100%);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#trademark {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#trademark-text {
  font-size: 3rem;
  font-family: "Lobster", cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}

#trademark-text span {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.7);
}

#navbar {
  position: relative;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#links-container {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  width: max-content;
  height: 80%;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 0px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: all 300ms;
}

.nav-link:hover,
.current.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.current.nav-link {
  background-color: rgb(255, 255, 255);
  color: black;
}

#burger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.line {
  width: 4rem;
  height: 0.4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: all 300ms;
}

.active#burger .line:nth-of-type(1) {
  transform: rotate(-45deg) translateY(15px);
}

.active#burger .line:nth-of-type(2) {
  transform: translateX(-50px);
  opacity: 0;
}

.active#burger .line:nth-of-type(3) {
  transform: rotate(45deg) translateY(-16px);
}

.active#navbar {
  transform: translateX(0%);
}

@media only screen and (max-width: 900px) {
  #header {
    gap: 0;
  }

  #navbar {
    width: 30%;
    position: absolute;
    top: 6rem;
    right: 0;
    height: calc(100vh - 60px);
    background-color: rgb(14, 14, 14);
    transform: translate(150%);
    transition: all 300ms;
  }

  #links-container {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 2rem;
    overflow-y: auto;
  }

  .nav-link {
    width: 90%;
    height: 50px;
    padding: 0 1.5rem;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }

  #burger {
    display: flex;
  }
}

@media only screen and (max-width: 780px) {
  #navbar {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  #header {
    height: 50px;
  }
  #navbar {
    top: 5rem;
    height: calc(100vh - 50px);
    width: 55%;
  }
}

@media only screen and (max-width: 425px) {
  #trademark-text {
    font-size: 2.5rem;
  }

  #navbar {
    width: 70%;
  }

  .nav-link {
    padding: 0 1rem;
  }
}

/* End header, navbar, burger menu styles */

/* Start home page styles */

.home-container {
  width: 100%;
  height: max-content;
  position: relative;
}

#home-title-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background: rgb(0, 125, 237);
  background: linear-gradient(180deg, rgb(0, 136, 255) 0%, rgb(0, 39, 83) 100%);
}

#home-title-container h1 {
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
}

#home-title-container p {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

#arrow-down {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

#arrow-down svg {
  stroke: black;
  animation: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#mini-services-container {
  width: 100%;
  height: max-content;
  padding: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

#mini-services-container h2,
#hospedaje-section h2,
#guides-section h2,
#food-section h2,
#transport-section h2 {
  width: 100%;
  padding: 4rem 2rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

#even-min-cards,
#odd-mini-cards {
  width: 45%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#even-min-cards {
  align-items: flex-end;
}

#odd-mini-cards {
  align-items: flex-start;
  transform: translateY(60px);
}

.mini-service-card {
  min-width: 290px;
  width: 60%;
  max-width: 400px;
  height: 50vh;
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
  box-shadow: 10px 10px 0 0 rgb(212, 212, 212);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mini-service-card img {
  object-fit: cover;
  width: 100%;
  height: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.mini-service-card a {
  display: block;
  width: 100%;
  height: 20%;
  font-size: 2rem;
  color: black;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 300ms;
}

.mini-service-card a:hover {
  background-color: rgb(48, 48, 48);
  color: white;
}

#hospedaje-section {
  width: 100%;
  height: max-content;
  padding: 2rem;
  margin-top: 100px;
}

#hospedaje-section > p,
#guides-section > p,
#food-section > p,
#transport-section > p {
  font-size: 2rem;
  text-align: center;
}

#hospedaje-cards-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hospedaje-card {
  min-width: 290px;
  width: 80%;
  max-width: 600px;
  min-height: 500px;
  height: 80vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  background-color: rgb(241, 241, 241);
  box-shadow: -10px 10px 0 0 rgb(212, 212, 212);
  margin-top: 3rem;
  border-radius: 10px;
  padding: 2rem;
}

.hospedaje-card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hospedaje-card p {
  width: 100%;
  height: 40%;
  font-size: 1.8rem !important;
}

.hospedaje-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  font-size: 1.8rem !important;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 2px black;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  line-height: 0;
  transition: all 300ms;
}

.hospedaje-card a:hover {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

#guides-section {
  width: 100%;
  height: max-content;
  margin-top: 2rem;
  padding: 0;
}

#guides-collage {
  position: relative;
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
}

#guides-collage img {
  grid-column: span 1;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

#tour-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#guides-collage:hover #tour-overlay {
  display: flex;
}

#tour-overlay a {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 2px rgb(255, 255, 255);
  padding: 2rem 3rem;
  font-size: 2rem !important;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 10px;
  transition: all 300ms;
}

#tour-overlay a:hover {
  background-color: rgba(0, 0, 0, 1);
}

#food-section {
  width: 100%;
  height: max-content;
  margin-top: 2rem;
  padding: 0 2rem;
}

#food-cards-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}

.food-card {
  width: 290px;
  height: 290px;
  border-radius: 100%;
  position: relative;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.food-card:hover .food-overlay {
  display: flex;
}

.food-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.food-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.8rem;
  color: white;
  backdrop-filter: blur(3px) saturate(90%);
  -webkit-backdrop-filter: blur(3px) saturate(90%);
  background-color: rgba(0, 0, 0, 0.4);
}

#transport-section {
  width: 100%;
  height: max-content;
  margin-top: 2rem;
}

#transport-desc-container {
  margin-top: 3rem;
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 70vh;
}

#transport-desc-container img {
  grid-column: span 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#transport-desc-container > p {
  grid-column: span 1;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  background-color: rgb(0, 32, 68);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}
#transport-desc-container p > span {
  font-size: 4.5rem;
  font-weight: 900;
}

.small-text {
  margin: 1rem 0;
  font-size: 1.3rem !important;
}

@keyframes arrow {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
}

/* @media only screen and (max-width: 1100px) {
  .mini-service-card {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  
} */

/* End home page styles */

/* Start global form styles */
.form-main-container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 50px);
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  margin-top: 50px;
}

.form-container {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.form {
  width: 100%;
  max-width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 3rem;
  background-color: rgba(218, 237, 255, 0.3);
  border: 2px solid rgb(110, 190, 255);
  border-radius: 5px;
  margin: 3rem 0;
}

.form-title {
  font-size: 3.5rem;
  font-weight: 700;
}

.input-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container label {
  font-size: 1.8rem;
  font-weight: 500;
}

.input-container input,
.input-container textarea {
  font-size: 1.5rem;
  height: 40px;
  padding-left: 1rem;
  border-radius: 5px;
  border: none;
  border: solid 2px rgba(0, 0, 0, 0.7);
  outline-color: rgb(110, 190, 255);
  outline-offset: 2px;
}

.input-container textarea {
  resize: vertical;
  min-height: 150px;
  padding: 1rem;
}

.select-container {
  position: relative;
}

.select-container select {
  appearance: none;
  border: none;
  width: 100%;
  height: 40px;
  border: solid 2px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0 1rem;
  outline-color: rgb(110, 190, 255);
  outline-offset: 2px;
}

.select-container::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  position: absolute;
  top: 45px;
  right: 15px;
  touch-action: none;
}

.submit-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.submit-container input {
  width: 170px;
  height: 45px;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(110, 190, 255);
  border-radius: 5px;
  transition: all 300ms;
  cursor: pointer;
}

.submit-container input:hover {
  background-color: rgb(110, 190, 255);
}

.submit-container input:active {
  transform: scale(0.95);
}

.form-img-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  width: 80%;
  max-width: 450px;
  height: auto;
  max-height: 90vh;
  border-radius: 100%;
}

.form-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: -5px 5px 3px 3px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 780px) {
  .form-main-container {
    min-height: calc(100vh - 90px);
    flex-direction: column;
    gap: 0;
    padding: 2rem;
    margin-top: 3rem;
  }

  .form-container {
    position: relative;
    width: 100%;
    z-index: 50;
  }

  .form-title {
    font-size: 3rem;
  }

  .input-container label {
    font-size: 1.5rem;
  }

  .submit-container input {
    width: 150px;
    font-size: 1.5rem;
  }

  .form-img-container {
    position: relative;
    width: 100%;
  }

  .img-container {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }

  .img-container {
    position: absolute;
    top: -70px;
    left: 0;
    z-index: 10;
  }
}

@media only screen and (max-width: 425px) {
  .form {
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 340px) {
  .form-title {
    font-size: 2.8rem;
  }

  .submit-container input {
    height: 40px;
  }
}
/* End global form styles */

/* Start about page styles */
.about-container {
  width: 100%;
  height: auto;
}

.title-container {
  width: 100%;
  height: 100vh;
  background-image: url(https://picsum.photos/2000);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.title-container h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: white;
  padding: 2rem;
  box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 1);
}

.info-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  height: auto;
}

.info-container h2,
.location-container h2,
.social-container h2 {
  position: relative;
  grid-column: span 12;
  padding: 4rem 0;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  background-color: rgb(14, 14, 14);
  color: white;
}

.info-container h2::after,
.location-container h2::after,
.social-container h2::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.info-img-container {
  grid-column: span 6;
  width: 100%;
  height: 600px;
}

.info-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-text-container {
  grid-column: span 6;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text-container p {
  font-size: 1.8rem;
}

.info-container:nth-of-type(1) .info-text-container {
  background-color: rgb(0, 29, 66);
  color: white;
}

.info-container:nth-of-type(2) .info-text-container {
  background-color: rgb(214, 86, 0);
  color: white;
}

.map-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  min-height: 400px;
  height: 80%;
  max-height: 800px;
  width: 80%;
}

.icons-container {
  width: 100%;
  height: max-content;
  padding: 5rem 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.social-icon-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 5px;
  background-color: rgba(24, 24, 24, 0.7);
  box-shadow: -5px 5px 0 0 black;
  cursor: pointer;
  transition: all 300ms;
}

.social-icon-container:hover {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 20px;
  background-color: rgba(14, 14, 14, 1);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1000px) {
  .title-container h1 {
    font-size: 4rem;
  }

  .info-img-container {
    height: 600px;
  }

  .info-text-container {
    padding: 2rem 3rem;
  }

  .info-text-container p {
    font-size: 1.5rem;
  }

  .social-icon-container {
    width: 120px;
    height: 120px;
  }

  .social-icon-container svg {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 780px) {
  .info-img-container {
    grid-column: span 12;
    height: 400px;
  }

  .info-text-container {
    grid-column: span 12;
    width: 100%;
    height: max-content;
    overflow-y: auto;
    padding: 3rem;
  }
}

@media only screen and (max-width: 425px) {
  .title-container h1 {
    font-size: 3.5rem;
  }

  .info-container h2,
  .location-container h2,
  .social-container h2 {
    font-size: 2.5rem;
  }

  .icons-container {
    gap: 2rem;
  }

  .social-icon-container {
    width: 100px;
    height: 100px;
  }

  .social-icon-container svg {
    width: 70px;
    height: 70px;
  }

  #map {
    min-height: 400px;
    height: 80%;
    max-height: 800px;
    width: 100%;
  }
}

/* End about page styles */

/* Start contact page styles */
.contact-container {
  width: 100%;
  height: max-content;
  margin-top: 60px;
  padding: 3rem;
}

.contact-title {
  font-size: 5rem;
  font-weight: 700;
}

.contact-desc {
  margin-top: 1rem;
  font-size: 2rem;
}

.contact-desc a {
  text-decoration: none;
  color: rgb(0, 102, 255);
  transition: all 200ms;
}

.contact-desc a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

#contact-form {
  max-width: calc(100vw - 100px);
  border: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: rgba(181, 219, 255, 0.3);
}

#contact-form .input-container {
  min-width: 45%;
  max-width: 45%;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

#contact-form .select-container::after {
  top: 50px;
}

@media only screen and (max-width: 768px) {
  #contact-form {
    max-width: calc(100vw - 50px);
  }

  #contact-form .input-container {
    min-width: 90%;
    max-width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .contact-title {
    font-size: 4rem;
  }

  .contact-desc {
    font-size: 1.8rem;
  }
}

/* Start hotel page styles */

#hotel-details-container {
  width: 100%;
  min-height: calc(100vh - 60px);
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 60px;
}

#hotel-main-details-container,
#hotel-side-details-container {
  min-width: 45%;
  max-width: 50%;
  min-height: calc(100vh - 80px);
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

#hotel-main-details-container h1 {
  font-size: 4rem;
  font-weight: 900;
}

#hotel-main-details-container p {
  font-size: 2rem;
  font-weight: 500;
}

#hotel-main-details-container > div {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hotel-main-details-container > div img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 0 0 rgba(14, 14, 14, 0.5);
}

#hotel-side-details-container h2 {
  font-size: 3rem;
  font-weight: 700;
}

#hotel-side-details-container p {
  font-size: 1.8rem;
  font-weight: 500;
}

#reservation-form-container {
  width: 100%;
  height: max-content;
  padding: 2rem 4rem;
}

#reservation-form {
  max-width: calc(100vw - 100px);
  border: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: rgba(181, 219, 255, 0.3);
}

#reservation-form h3 {
  min-width: 100%;
  max-width: 100%;
}

#reservation-form .input-container {
  min-width: 290px;
  width: 90%;
  max-width: 600px;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

#reservation-form .select-container::after {
  top: 50px;
}
