/* Start global styles */

:root {
  --header-height: 50px;
  --min-border-radius: 5px;
  --big-border-radius: 10px;
  --max-border-radius: 15px;
  --dark-red-color: rgb(175, 1, 1);
  --white-color: rgb(255, 255, 255);
  --darker-semi-transparent-white-color: rgba(255, 255, 255, 0.7);
  --semi-transparent-white-color: rgba(255, 255, 255, 0.5);
  --black-color: rgba(0, 0, 0, 1);
  --darker-semi-transparent-black-color: rgba(0, 0, 0, 0.7);
  --semi-transparent-black-color: rgba(0, 0, 0, 0.5);
  --lighter-semi-transparent-black-color: rgba(0, 0, 0, 0.3);
  --lighten-black-color: rgb(48, 48, 48);
  --light-blue-color: rgb(110, 190, 255);
  --blue-color: rgb(0, 125, 237);
  --darker-blue-color: rgb(0, 38, 82);
  --darken-white-color: rgb(241, 241, 241);
  --lighter-grey-color: rgb(212, 212, 212);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: var(--min-border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* End global styles */

/* Start toast notificacion styles */

#snackbar {
  min-width: 250px;
  width: 95%;
  max-width: 500px;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--dark-red-color);
  border-radius: var(--min-border-radius);
  z-index: 100;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 80px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 80px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

/* End toast notificacion styles */

/* Start header, navbar, burger menu styles */

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  background-color: var(--darker-semi-transparent-black-color);
  box-shadow: 0 2px 5px 0 var(--semi-transparent-black-color);
  z-index: 110;
}

#trademark {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#trademark-text {
  user-select: none;
  font-size: 2.8rem;
  font-family: "Lobster", cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--white-color);
}

#trademark-text span {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
  color: var(--darker-semi-transparent-white-color);
}

#navbar {
  position: relative;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#links-container {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  width: max-content;
  height: 85%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 0px;
  color: var(--white-color);
  border-radius: var(--min-border-radius);
  transition: all 300ms;
}

.nav-link:hover,
.current.nav-link:hover {
  background-color: var(--semi-transparent-white-color);
  color: var(--black-color);
}

.current.nav-link {
  background-color: var(--white-color);
  color: var(--black-color);
}

#burger {
  height: 85%;
  width: 5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--lighter-semi-transparent-black-color);
  border-radius: var(--min-border-radius);
}

.line {
  width: 40px;
  height: 3px;
  background-color: var(--white-color);
  border-radius: var(--big-border-radius);
  transition: all 300ms;
}

.active#burger {
  gap: 0;
}

.active#burger .line:nth-of-type(1) {
  transform: translate(0, 3px) rotate(-45deg);
  background-color: var(--light-blue-color);
}

.active#burger .line:nth-of-type(2) {
  transform: translateX(-50px);
  opacity: 0;
}

.active#burger .line:nth-of-type(3) {
  transform: translate(0, -3px) rotate(45deg);
}

.active#navbar {
  transform: translateX(0%);
}

@media only screen and (max-width: 800px) {
  #trademark-text {
    font-size: 2.5rem;
  }

  #navbar {
    position: absolute;
    top: var(--header-height);
    right: 0;
    width: 35%;
    height: calc(100vh - var(--header-height));
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(150%);
    transition: all 300ms;
  }

  #links-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem 0;
    overflow-y: auto;
  }

  .nav-link {
    width: 90%;
    min-height: 50px;
    height: 50px;
    padding: 0 1rem;
    background-color: var(--black-color);
    border-radius: var(--min-border-radius);
    border: 2px solid var(--darker-semi-transparent-white-color);
  }

  #burger {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  #navbar {
    width: 45%;
  }
}

@media only screen and (max-width: 425px) {
  #trademark-text {
    font-size: 2.3rem;
  }

  #navbar {
    width: 60%;
  }

  .nav-link {
    padding: 0 1rem;
  }

  #burger {
    height: 80%;
    width: 4rem;
  }

  .line {
    width: 30px;
  }
}

@media only screen and (max-width: 350px) {
  #navbar {
    width: 70%;
  }
}

/* End header, navbar, burger menu styles */

/* Start home page styles */

.home-container {
  width: 100%;
  height: max-content;
  position: relative;
}

#home-title-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  background: var(--blue-color);
  background: linear-gradient(
    -180deg,
    var(--blue-color) 0%,
    var(--darker-blue-color) 100%
  );
}

#home-title-container h1 {
  user-select: none;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  color: var(--white-color);
}

#home-title-container p {
  user-select: none;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: var(--white-color);
}

#arrow-down {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

#arrow-down svg {
  stroke: var(--white-color);
  animation: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.home-container h2 {
  position: relative;
  user-select: none;
  width: 100%;
  padding: 4rem 2rem 0.5rem 2rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.home-container h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  width: 70%;
  max-width: 500px;
  height: 3px;
  background-color: var(--semi-transparent-black-color);
  border-radius: var(--min-border-radius);
}

#hospedaje-section > p,
#guides-section > p,
#food-section > p,
#transport-section > p {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 0 2rem;
}

#mini-services-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
  margin-top: 3rem;
}

#even-min-cards,
#odd-mini-cards {
  width: 45%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#even-min-cards {
  align-items: flex-end;
}

#odd-mini-cards {
  align-items: flex-start;
  transform: translateY(60px);
}

.mini-service-card {
  min-width: 290px;
  width: 90%;
  max-width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--darken-white-color);
  border-radius: var(--max-border-radius);
  box-shadow: 8px 8px 0 0 var(--lighter-grey-color);
}

.mini-service-card img {
  object-fit: cover;
  width: 100%;
  height: 80%;
  border-top-left-radius: var(--max-border-radius);
  border-top-right-radius: var(--max-border-radius);
}

.mini-service-card a {
  display: block;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  color: var(--black-color);
  text-decoration: none;
  border-bottom-left-radius: var(--max-border-radius);
  border-bottom-right-radius: var(--max-border-radius);
  transition: all 300ms;
}

.mini-service-card a:hover {
  background-color: var(--lighten-black-color);
  color: var(--white-color);
}

#hospedaje-section {
  width: 100%;
  height: max-content;
  margin-top: 9rem;
  padding: 2rem;
}

#hospedaje-cards-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hospedaje-card {
  min-width: 290px;
  width: 80%;
  max-width: 430px;
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 3rem;
  padding: 2rem;
  background-color: var(--darken-white-color);
  border-radius: var(--min-border-radius);
  box-shadow: -10px 10px 0 0 var(--lighter-grey-color);
}

.hospedaje-card img {
  width: 100%;
  height: 50%;
  max-height: 50%;
  object-fit: cover;
  border-radius: var(--min-border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hospedaje-card p {
  width: 100%;
  height: 40%;
  max-height: 40%;
  padding-right: 1rem;
  font-size: 1.5rem;
  overflow-y: auto;
}

.hotel-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.hotel-link-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  width: 40%;
  max-width: 300px;
  height: 100%;
  font-size: 1.8rem;
  text-decoration: none;
  line-height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--black-color);
  border: solid 2px var(--black-color);
  border-radius: var(--min-border-radius);
  transition: all 300ms;
}

.hospedaje-card a:hover {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

#guides-section {
  width: 100%;
  height: max-content;
  margin-top: 3rem;
  padding: 0;
}

#guides-collage {
  position: relative;
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
}

#guides-collage img {
  grid-column: span 1;
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

#tour-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-transparent-black-color);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transition: all 300ms;
}

#guides-collage:hover #tour-overlay {
  display: flex;
}

#tour-overlay a {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 2px rgb(255, 255, 255);
  padding: 2rem 3rem;
  font-size: 2rem !important;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 10px;
  transition: all 300ms;
}

#tour-overlay a:hover {
  background-color: rgba(0, 0, 0, 1);
}

#food-section {
  width: 100%;
  height: max-content;
  margin-top: 2rem;
  padding: 0 2rem;
}

#food-cards-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}

.food-card {
  width: 290px;
  height: 290px;
  border-radius: 100%;
  position: relative;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.food-card:hover .food-overlay {
  display: flex;
}

.food-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.food-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.8rem;
  color: white;
  backdrop-filter: blur(3px) saturate(90%);
  -webkit-backdrop-filter: blur(3px) saturate(90%);
  background-color: rgba(0, 0, 0, 0.4);
}

#transport-section {
  width: 100%;
  height: max-content;
  margin-top: 2rem;
}

#transport-desc-container {
  margin-top: 3rem;
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 70vh;
}

#transport-desc-container img {
  grid-column: span 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#transport-desc-container > p {
  grid-column: span 1;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  background-color: rgb(0, 32, 68);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}
#transport-desc-container p > span {
  font-size: 4.5rem;
  font-weight: 900;
}

.small-text {
  margin: 1rem 0;
  font-size: 1.3rem !important;
}

@keyframes arrow {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
}

/* @media only screen and (max-width: 1100px) {
  .mini-service-card {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  
} */

/* End home page styles */

/* Start global form styles */
.form-main-container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 50px);
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  margin-top: 50px;
}

.form-container {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.form {
  width: 100%;
  max-width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 3rem;
  background-color: rgba(218, 237, 255, 0.3);
  border: 2px solid rgb(110, 190, 255);
  border-radius: 5px;
  margin: 3rem 0;
}

.form-title {
  font-size: 3.5rem;
  font-weight: 700;
}

.input-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container label {
  font-size: 1.8rem;
  font-weight: 500;
}

.input-container input,
.input-container textarea {
  font-size: 1.5rem;
  height: 40px;
  padding-left: 1rem;
  border-radius: 5px;
  border: none;
  border: solid 2px rgba(0, 0, 0, 0.7);
  outline-color: rgb(110, 190, 255);
  outline-offset: 2px;
}

.input-container textarea {
  resize: vertical;
  min-height: 150px;
  padding: 1rem;
}

.select-container {
  position: relative;
}

.select-container select {
  appearance: none;
  border: none;
  width: 100%;
  height: 40px;
  border: solid 2px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0 1rem;
  outline-color: rgb(110, 190, 255);
  outline-offset: 2px;
}

.select-container::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  position: absolute;
  top: 45px;
  right: 15px;
  touch-action: none;
}

.submit-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.submit-container input {
  width: 170px;
  height: 45px;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(110, 190, 255);
  border-radius: 5px;
  transition: all 300ms;
  cursor: pointer;
}

.submit-container input:hover {
  background-color: rgb(110, 190, 255);
}

.submit-container input:active {
  transform: scale(0.95);
}

.form-img-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  width: 80%;
  max-width: 450px;
  height: auto;
  max-height: 90vh;
  border-radius: 100%;
}

.form-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: -5px 5px 3px 3px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 780px) {
  .form-main-container {
    min-height: calc(100vh - 90px);
    flex-direction: column;
    gap: 0;
    padding: 2rem;
    margin-top: 3rem;
  }

  .form-container {
    position: relative;
    width: 100%;
    z-index: 50;
  }

  .form-title {
    font-size: 3rem;
  }

  .input-container label {
    font-size: 1.5rem;
  }

  .submit-container input {
    width: 150px;
    font-size: 1.5rem;
  }

  .form-img-container {
    position: relative;
    width: 100%;
  }

  .img-container {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }

  .img-container {
    position: absolute;
    top: -70px;
    left: 0;
    z-index: 10;
  }
}

@media only screen and (max-width: 425px) {
  .form {
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 340px) {
  .form-title {
    font-size: 2.8rem;
  }

  .submit-container input {
    height: 40px;
  }
}
/* End global form styles */

/* Start about page styles */
.about-container {
  width: 100%;
  height: auto;
}

.title-container {
  width: 100%;
  height: 100vh;
  background-image: url(https://picsum.photos/2000);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.title-container h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: white;
  padding: 2rem;
  box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 1);
}

.info-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  height: auto;
}

.info-container h2,
.location-container h2,
.social-container h2 {
  position: relative;
  grid-column: span 12;
  padding: 4rem 0;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  background-color: rgb(14, 14, 14);
  color: white;
}

.info-container h2::after,
.location-container h2::after,
.social-container h2::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.info-img-container {
  grid-column: span 6;
  width: 100%;
  height: 600px;
}

.info-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-text-container {
  grid-column: span 6;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text-container p {
  font-size: 1.8rem;
}

.info-container:nth-of-type(1) .info-text-container {
  background-color: rgb(0, 29, 66);
  color: white;
}

.info-container:nth-of-type(2) .info-text-container {
  background-color: rgb(214, 86, 0);
  color: white;
}

.map-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  min-height: 400px;
  height: 80%;
  max-height: 800px;
  width: 80%;
}

.icons-container {
  width: 100%;
  height: max-content;
  padding: 5rem 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.social-icon-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 5px;
  background-color: rgba(24, 24, 24, 0.7);
  box-shadow: -5px 5px 0 0 black;
  cursor: pointer;
  transition: all 300ms;
}

.social-icon-container:hover {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 20px;
  background-color: rgba(14, 14, 14, 1);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1000px) {
  .title-container h1 {
    font-size: 4rem;
  }

  .info-img-container {
    height: 600px;
  }

  .info-text-container {
    padding: 2rem 3rem;
  }

  .info-text-container p {
    font-size: 1.5rem;
  }

  .social-icon-container {
    width: 120px;
    height: 120px;
  }

  .social-icon-container svg {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 780px) {
  .info-img-container {
    grid-column: span 12;
    height: 400px;
  }

  .info-text-container {
    grid-column: span 12;
    width: 100%;
    height: max-content;
    overflow-y: auto;
    padding: 3rem;
  }
}

@media only screen and (max-width: 425px) {
  .title-container h1 {
    font-size: 3.5rem;
  }

  .info-container h2,
  .location-container h2,
  .social-container h2 {
    font-size: 2.5rem;
  }

  .icons-container {
    gap: 2rem;
  }

  .social-icon-container {
    width: 100px;
    height: 100px;
  }

  .social-icon-container svg {
    width: 70px;
    height: 70px;
  }

  #map {
    min-height: 400px;
    height: 80%;
    max-height: 800px;
    width: 100%;
  }
}

/* End about page styles */

/* Start contact page styles */
.contact-container {
  width: 100%;
  height: max-content;
  margin-top: 60px;
  padding: 3rem;
}

.contact-title {
  font-size: 5rem;
  font-weight: 700;
}

.contact-desc {
  margin-top: 1rem;
  font-size: 2rem;
}

.contact-desc a {
  text-decoration: none;
  color: rgb(0, 102, 255);
  transition: all 200ms;
}

.contact-desc a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

#contact-form {
  max-width: calc(100vw - 100px);
  border: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: rgba(181, 219, 255, 0.3);
}

#contact-form .input-container {
  min-width: 45%;
  max-width: 45%;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

#contact-form .select-container::after {
  top: 50px;
}

@media only screen and (max-width: 768px) {
  #contact-form {
    max-width: calc(100vw - 50px);
  }

  #contact-form .input-container {
    min-width: 90%;
    max-width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .contact-title {
    font-size: 4rem;
  }

  .contact-desc {
    font-size: 1.8rem;
  }
}

/* Start hotel page styles */

#hotel-details-container {
  width: 100%;
  min-height: calc(100vh - 60px);
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 60px;
}

#hotel-main-details-container,
#hotel-side-details-container {
  min-width: 45%;
  max-width: 50%;
  min-height: calc(100vh - 80px);
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

#hotel-main-details-container h1 {
  font-size: 4rem;
  font-weight: 900;
}

#hotel-main-details-container p {
  font-size: 2rem;
  font-weight: 500;
}

#hotel-main-details-container > div {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hotel-main-details-container > div img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 0 0 rgba(14, 14, 14, 0.5);
}

#hotel-side-details-container h2 {
  font-size: 3rem;
  font-weight: 700;
}

#hotel-side-details-container p {
  font-size: 1.8rem;
  font-weight: 500;
}

#reservation-form-container {
  width: 100%;
  height: max-content;
  padding: 2rem 4rem;
}

#reservation-form {
  max-width: calc(100vw - 100px);
  border: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: rgba(181, 219, 255, 0.3);
}

#reservation-form h3 {
  min-width: 100%;
  max-width: 100%;
}

#reservation-form .input-container {
  min-width: 290px;
  width: 90%;
  max-width: 600px;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

#reservation-form .select-container::after {
  top: 50px;
}

/* End hotel page styles */

/* Start dashboard styles */
#dashboard-container {
  width: 100%;
  height: max-content;
  padding: 2rem;
  margin-top: 60px;
  font-size: 1.5rem;
  overflow-x: auto;
}

#dashboard-container h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.table {
  margin: 0 0 40px 0;
  min-width: 290px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 500;
  color: #ffffff;
  background: #0084ff;
}
@media screen and (max-width: 768px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell {
    margin-bottom: 10px;
  }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 768px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}

.table-btn {
  display: block;
  height: 40px;
  width: 100%;
  margin-bottom: 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  transition: all 300ms;
}

.table-btn:first-of-type {
  background-color: green;
}

.table-btn:last-of-type {
  background-color: red;
}

.table-btn:hover {
  opacity: 70%;
}

@media screen and (max-width: 768px) {
  .table-btn {
    display: inline-block;
    width: 45%;
    margin-right: 0.5rem;
  }
}
